# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Build outputs
dist
build

# Docker-related files
Dockerfile
docker-compose.yml

# Environment variables
.env

# Miscellaneous
.DS_Store
.git
.gitignore
